{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block navbar %}
<div class="container">
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Link</a></li>
  <li role="presentation"><a href="#">Link</a></li>
</ul>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <h1>DMARC Check</h1>
    
    <form action="/" method="post">
        {{ wtf.quick_form(form) }}
    </form>

    {% if results %}
    <hr>
    <table class="table">
      <thead>
        <tr>
          <th>Record</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>{{ results["dmarc"]["record"] }}</td>
        </tr>
      </tbody>
    </table>
    {% if results["dmarc"]["tags"] %}
    <table class="table">
        <caption>Discovered Tags <small>declared explicitly in DMARC record</small></caption>
        <thead>
            <tr>
                <th>tag</th>
                <th>value</th>
                <th>description</th>
            </tr>
        </thead>
        <tbody>
          {% for k, v in results["dmarc"]["tags"].items() %}
            {% if v["explicit"] %}
              {% if k == 'rua' or k == 'ruf' %}
                {% for uris in v["value"] %}
                  {% for uri in uris.values() %}
                  <tr>
                      {%- if loop.index == 1 %}<td rowspan="3">{{ k }}</td>{% endif %}
                      <td>{{ uri }}</td>
                      {%- if loop.index == 1 %}<td rowspan="3">{{ v["description"] }}</td>{% endif %}
                  </tr>
                  {% endfor %}
                {% endfor %}
              {% else %}
                  <tr>
                      <td>{{ k }}</td>
                      <td>{{ v["value"] }}</td>
                      <td>{{ v["description"] }}</td>
                  </tr>
              {% endif %}
            {% endif %}
          {% endfor %}
        </tbody>
    </table>
    <table class="table">
        <caption>Implicit Tags 
            <small>defaults if not declared</small></caption>
        <thead>
            <tr>
                <th>tag</th>
                <th>value</th>
                <th>description</th>
            </tr>
        </thead>
        <tbody>
            {% for k, v in results["dmarc"]["tags"].items() %}
              {% if not v["explicit"] %}
              <tr>
                  <td>{{ k }}</td>
                  <td>{{ v["value"] }}</td>
                  <td>{{ v["description"] }}</td>
              </tr>
              {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
  {% endif %}
</div>
{% endblock %}
